body {
  font-family: helvetica;
  background: #dfe6ec;
  --icon-edit: url("../img/icon\ alterar.png");
  --icon-delete: url("../img/icon\ excluir.png");
}

.container {
  display: flex;
  gap: 40px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  background: #3f6f9c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.add {
  background: #cfcfcf;
  font-size: 60px;
  color: white;
}

.title{
    display: inline-block;
    width: 190px;
    height: auto;
    font-size: 40px;
    font-weight: 900;
    color: #e3992e;
     margin-left: 50px;
    margin-top: 50px;
}

.icon-neve {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px; /* ajuste como quiser */
}

/* Ações do Card */
.card-actions {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-actions {
  opacity: 1;
}

.btn-action {
  width: 70px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: transform 0.2s;
  
}

.btn-action:hover {
  transform: scale(1.2);
}

.btn-edit {
  background-image: var(--icon-edit);
  
}

.btn-delete {
  background-image: var(--icon-delete);
  margin-right: 10px;
}